.App {
  font-family: sans-serif;
  /* text-align: center; */
  background-color: #f6f9fe;
  height: 100vh;
}
.image-item {
  display: flex;
  margin: 10px 0;
}
.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
button {
  height: 40px;
}

/*  */
button {
  background-color: #000;
  border: .5px solid crimson;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 0 30px 0 crimson,
    0 0 30px 0 crimson,
    0 0 10px 0 crimson inset;
}